{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!
{% endblock %}

{% block body %}
	<section class="pt-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-2 col-md-3 col-12">
					<div class="group-list-side mb-5 bg-Light sticky-top">
						<ul class="smooth-scroll">
							{% for category in categories %}
								<li>
									<a href="{{ path('templates') }}#{{ category.title }}">
										{{ category.title }}
									</a>
								</li>
							{% endfor %}
							<li>
								<a href="#line6">
									سایر نمونه کارها
								</a>
							</li>
							<li class="important">
								<a href="">
									مشاوره طراحی سایت
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-12">
				{% for category in categories %}
					<div class="row" id="{{ category.title }}">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											{{ category.title }}
										</h3>
										{{ category.summary }}
									</div>
								</div>
							</div>

							<div class="row">
							{% for template in category.templates %}
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
										{% for image in template.images %}
											<a href="{{ path('template', {'title': template.title}) }}">
												<img src="{{ vich_uploader_asset(image) | imagine_filter('thumb') }}" class="img-fluid d-block Max_img" alt=""/>
											</a>
										{% endfor %}
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="{{ path('template', {'title': template.title}) }}">
													{{ template.title }}
												</a>
											</h3>
										</div>
									</div>
								</div>
							{% endfor %}

							</div>
						</div>
					</div>
					<hr class="mb-5"/>
				{% endfor %}

					<div class="row" id="line6">
						<div class="col-12">
							<div class="row">
								<div class="col-12">
									<div class="desc-simple mb-5">
										<h3 class="title text-center mb-3" data-aos-duration="1500" data-aos="fade-up">
											سایر نمونه کارهای طراحی سایت وب سورس
										</h3>
										<p class="desc mb-3">
											<span class="text-red">وب سورس</span>
											علاوه بر زمینه های بالا در طراحی سایت های دیگر مانند خبری، آموزشی، مجله اینترنتی، شخصی، آگهی، پزشکی و … نیز فعالیت های بسیاری انجام داده است و این دست سایت ها را در بخش سایر نمونه کارهای طراحی سایت مشاهده میکنید.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p6.png" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت نیک اندام
												</a>
											</h3>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-6">
									<div class="item-workSample mb-4">
										<div class="image shadow-sm border">
											<a href="">
												<img src="assets/img/product/p1.jpg" class="img-fluid d-block Max_img" alt=""/>
											</a>
										</div>
										<div class="text text-center mt-3">
											<h3 class="title">
												<a href="">
													طراحی سایت ترسیم
												</a>
											</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
