{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<div class="container border w-75 my-5">
		{% for template in templates %}
			<div class="row">
				<div class="col-10 mx-auto mb-5">
					<div class="card mx-auto">
						<div class="card-body">
							<h5 class="card-title">{{ template.title }}</h5>
							<p class="card-text">{{ template.summary }}</p>
							<p class="card-text">{{ template.content|raw }}</p>
							{# <a href="#" class="btn btn-primary">Go somewhere</a> #}
							<p class="card-text"><small class="text-muted">{{ template.createdAt|date("d/m/Y", "Europe/Paris") }}</small></p>
						</div>
						{% for image in template.images %}
							<img src="{{ vich_uploader_asset(image) | imagine_filter('thumb') }}" class="card-img-bottom" alt=""/>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
